{% extends 'layout.html' %}

{% block title %} Mblog - main {% endblock %}

{% block script %}

    <script src="{{url_for('static',filename='libs/underscore/underscore-min.js')}}"></script>
    <script src="{{url_for('static',filename='libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='libs/bootstrap-notify/js/bootstrap-notify.js')}}"></script>
    <script src="{{url_for('static',filename='libs/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='libs/summernote/dist/summernote.js')}}"></script>
    <script src="{{url_for('static',filename='libs/angular/angular.js')}}"></script>
    <script src="{{url_for('static',filename='libs/angular-route/angular-route.min.js')}}"></script>
    <script src="{{url_for('static',filename='libs/angular-resource/angular-resource.min.js')}}"></script>
    <script src="{{url_for('static',filename='libs/angular-sanitize/angular-sanitize.min.js')}}"></script>
    <script src="{{url_for('static',filename='libs/restangular/dist/restangular.min.js')}}"></script>
    <script src="{{url_for('static',filename='libs/angular-summernote/dist/angular-summernote.js')}}"></script>
    <script src="{{url_for('static',filename='js/app/js/app.js')}}"></script>
    <script src="{{url_for('static',filename='js/app/js/controllers.js')}}"></script>
    <script src="{{url_for('static',filename='js/app/js/filters.js')}}"></script>
    <script src="{{url_for('static',filename='js/app/js/directives.js')}}"></script>

{% endblock %}

{% block content %}
<div>
    <div class="ng-view" autoscroll="true" ></div>
</div>
{% endblock %}

