{% extends 'layout.html' %}

{% block title %} Mblog - main {% endblock %}

{% block script %}


    <script src="{{url_for('static',filename='lib/underscorejs/underscore-min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/jquery/jquery-1.11.3.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/bootstrap-notify/bootstrap-notify.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/bootstrap-3.3.6-dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/summernote/summernote.js')}}"></script>
    <script src="{{url_for('static',filename='lib/angular-1.4.8/angular.js')}}"></script>
    <script src="{{url_for('static',filename='lib/angular-1.4.8/angular-route.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/angular-1.4.8/angular-resource.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/angular-1.4.8/angular-sanitize.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/restangular-1.5.1/restangular.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/angular-summernote-0.5.2/angular-summernote.js')}}"></script>
    <script src="{{url_for('static',filename='js/app/js/app.js')}}"></script>
    <script src="{{url_for('static',filename='js/app/js/controllers.js')}}"></script>
    <script src="{{url_for('static',filename='js/app/js/filters.js')}}"></script>
    <script src="{{url_for('static',filename='js/app/js/directives.js')}}"></script>

{% endblock %}

{% block content %}
<div>
    <div class="ng-view" autoscroll="true" ></div>
</div>
{% endblock %}

