<div class="col-sm-12">
    <form>
        <fieldset class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control"
                   ng-model="new_post.subject"
                   placeholder="Enter subject here" required/>
        </fieldset>
        <fieldset class="form-group">
            <label>Body</label>
            <summernote ng-model="new_post.body" height="300" focus></summernote>
        </fieldset>
        <button type="submit" class="btn btn-lg" ng-if="isNewPost" ng-click="createPost()">Create</button>
        <button type="submit" class="btn btn-lg" ng-if="!isNewPost" ng-click="updatePost()">Update</button>
        <button type="submit" class="btn btn-lg col-sm-offset-10" ng-if="!isNewPost" ng-click="deletePost()">Delete</button>
    </form>

</div>